body {
  margin: 0px;
  font-family: Arial, sans-serif;
}
.sec1 {
  position: relative;
  /* background: url(../Angora__archive/slideshow-1.jpg) center / cover no-repeat; */
  padding: 30px 0;
  height: 100vh;
  animation: changeBG 10s infinite ;
}

@keyframes changeBG{
    0%,100%{
        background:url(../Angora__archive/slideshow-1.jpg) center / cover no-repeat; 
    }
    50%{
        background:url(../Angora__archive/slideshow-2.jpg) center / cover no-repeat; 
    }
    70%{
        background:url(../Angora__archive/slideshow-3.jpg)center / cover no-repeat; 
    }
}

.logo {
  margin-right: auto;
  margin-left: 100px;
}
hr {
  width: 50px;
}
nav {
  padding: 0px 40px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  font-family: Poppins;
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.menu-icon {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-scrolled .menu-icon {
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
nav a:focus,
nav a.active {
  color: #f25454;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 30px;
  margin-right: 100px;
  font-size: 15px;
}
nav .social-icon a {
  transition: color 0.3s;
}
nav::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
nav .social-icon a:hover {
  color: #f25454;
}
.nav-scrolled {
  background-color: #080808;
  padding: 25px 12px;
  opacity: 0.5;
  top: 0;
}
.nav-scrolled a {
  color: white;
  opacity: 1;
}
.nav-scrolled .logo {
  padding-left: 60px;
}
.nav-scrolled::after {
  display: none;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 64px;
}
.mouse-scroll {
  width: 22px;
  height: 45px;
  border: 2px solid white;
  border-radius: 15px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.scroll-dot {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollDown 1.5s infinite;
}
@keyframes scrollDown {
  0% {
    top: 8px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 22px;
    opacity: 0;
  }
}
.setting {
  background-color: #282828;
  width: 35px;
  height: 30px;
  border-radius: 2px;
  top: 600px;
  position: absolute;
  position: fixed;
}
.setting i {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 7px;
  color: white;
}
.setting a {
  text-decoration: none;
  cursor: pointer;
}

.About_Us,
.our_team,
.Services,
.Client_Reviews,
.Get_In_Touch {
  justify-items: center;
  text-align: center;
  font-size: 20px;
  flex-wrap: wrap;
  position: relative;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
}
.About_Us p,
.our_team p,
.Services p,
.Client_Reviews p,
.Get_In_Touch p {
  color: #999999;
  line-height: 1.8;
  font-size: 20px;
}
.About_Us h1,
.our_team h1,
.Services h1,
.Client_Reviews h1,
.Get_In_Touch h1 {
  padding-top: 50px;
}
.About_Us::before {
  content: "A";
}
.our_team::before {
  content: "O";
}
.Services::before {
  content: "S";
}
.Client_Reviews::before {
  content: "C";
}
.Get_In_Touch::before {
  content: "G";
}
.About_Us::before,
.our_team::before,
.Services::before,
.Client_Reviews::before,
.Get_In_Touch::before {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: 600;
  color: rgba(11, 11, 11, 0.08);
  z-index: -1;
}

.about {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  color: #999999;
  font-size: 20px;
  line-height: 1.8;
  max-width: 1300px;
  margin: 0 auto 40px auto;
  text-align: left;
}
.text {
  flex: 1.5;
  color: #999999;
  line-height: 1.8;
  font-size: 15px;
}
.skills {
  flex: 1;
  margin-top: 5px;
}
.skill {
  margin-top: 10px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}
.skill-info .t {
  color: #222222;
}
.bar {
  background: #e9ecef;
  height: 5px;
  border-radius: 3px;
  overflow: hidden;
}
.progress {
  height: 100%;
}

.skills .skill .bar {
  background: #e9ecef;
  height: 5px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.skills .skill .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #f25454;
  border-radius: 3px;
  animation: fillBar 2s ease-in-out forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--percent);
  }
}
.skills .skill:nth-child(1) .bar {
  --percent: 80%;
}
.skills .skill:nth-child(2) .bar {
  --percent: 95%;
}
.skills .skill:nth-child(3) .bar {
  --percent: 85%;
}
.skills .skill:nth-child(4) .bar {
  --percent: 70%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  gap: 20px;
  line-height: 10px;
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.3s;
}
.social:hover .img-container img {
  transform: scale(1.1);
}
.social {
  position: relative;
  overflow: hidden;
}
.social-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f25454;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: 0.4s;
}
.social:hover .social-icons {
  opacity: 0.8;
}
.card:hover h3 {
  color: #f25454;
}
.social-icons i {
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}
.btn-sec {
  display: flex;
  justify-content: center;
  gap: 500px;
  padding-top: 60px;
}
.question {
  font-size: 40px;
}
.btn {
  width: 140px;
  height: 40px;
  background-color: #f25454;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}
.sec4,
.sec6 {
  margin-top: 90px;
  background-color: #fafafa;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 120px;
  padding-top: 40px;
}

.service-box {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.icon {
  color: #f25454;
  font-size: 40px;
  margin-right: 30px;
  margin-top: -1px;
}
 .service-box h4 {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  transition: color 0.2s;
}

.service-box p {
  margin: 0;
  color: #999999;
  font-size: 14px;
  line-height: 1.6;

}
.service-box:hover h4 {
  color: #f25454;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  color: #222222;
}
.client-img img {
  width: 110px;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid transparent;
  transition:
    opacity 0.5s ease,
    border 0.5s ease,
    transform 0.5s ease;
  cursor: pointer;
}
.clients-info {
  text-align: center;
}
.client-text {
  font-size: 25px;
  color: #7a7979;
}
.client-img img.active {
  opacity: 1;
  border: 2px solid #f25454;
  transform: translateY(-5px);
}

.contact-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 60px;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

.contact-info h2 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #222;
  line-height: 1.2;
  font-weight: 700;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
}
.contact-info .info-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.info-item i {
  color: #f25454;
  font-size: 28px;
  width: 45px;
  text-align: center;
  margin-top: 2px;
}

.info-item h4 {
  font-size: 18px;
  margin: 0 0 5px 0;
  color: #222;
  font-weight: 600;
}

.info-item p {
  color: #999;
}

.contact-form {
  padding-top: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  background: #fdfdfd;
  outline: none;
  font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #f25454;
}

.contact-form .btn {
  width: 180px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-form .btn:hover {
  background-color: #d43f3f;
}

.back-to-top {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);

  width: 50px;
  height: 50px;
  background-color: #f25454;
  color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 10;
}
.back-to-top:hover {
  background-color: #d43f3f;
}

.back-to-top i {
  font-size: 18px;
}

.main-footer {
  background: #242323;
  color: #eee;
  padding-top: 100px;
  position: relative;
  background-image: url("../Angora__archive/dotted-map.png");
  background-size: contain;
  margin-top: 170px;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 60px;
}
.footer-logo img {
  width: 60px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: left;
  padding-bottom: 60px;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.footer-col p,
.footer-col ul li a {
  color: #aaa;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul {
  list-style: none;
}
.footer-col ul li a:hover {
  color: #f25454;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tags span {
  border: 1px solid #444;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 3px;
  color: #aaa;
  cursor: pointer;
  transition: 0.3s;
}
.tags span:hover {
  border-color: #f25454;
  color: #f25454;
}

.footer-bottom {
  background: #1a1a1a;
  padding: 30px 0;
  border-top: 1px solid #2a2a2a;
}

.bottom-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.social-links {
  display: flex;
  gap: 20px;
}
.social-links a {
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.social-links a:hover {
  color: #f25454;
}

.copyright {
  font-size: 13px;
  color: #888;
}

@media (max-width: 992px) {

  .about {
    flex-direction: column;
    padding: 0 20px;
  }

  .skills {
    width: 100%;
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 40px;
  }

  .contact-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-sec {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }

}




@media (max-width: 768px) {

  .sec1 {
    height: 75vh;
    background-position: center top;
  }
  nav {
    padding: 15px;
  }

  .logo {
    margin-left: 20px;
  }

  .social-icon {
    display: none;
  }

  .content h1 {
    font-size: 36px;
    padding: 0 15px;
  }

  .services-container {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .cards {
    gap: 15px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .bottom-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

}



@media (max-width: 480px) {

  .sec1 {
    height: 65vh;
  }

  .content h1 {
    font-size: 28px;
  }

  .About_Us h1,
  .our_team h1,
  .Services h1,
  .Client_Reviews h1,
  .Get_In_Touch h1 {
    font-size: 24px;
  }

  .contact-info h2 {
    font-size: 24px;
  }

}



@media (max-width: 768px) {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    gap: 0; 
  }

  .logo {
    margin: 0; 
  }

  .menu-icon {
    display: block;
    font-size: 26px;
    z-index: 1100;
    padding-right: 70px;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #080808;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px 0;
    display: none;
  }

  .nav-links a {
    font-size: 15px;
    padding: 8px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .social-icon {
    display: none;
  }

  nav::after {
    display: none;
  }

}


@media (max-width: 768px) {

  nav {
    padding: 15px 20px;
  }

  .menu-icon {
    display: block;
    font-size: 26px;
    color: white;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #080808;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .social-icon {
    display: none;
  }
}




